.transfer-details-list-element {
    margin: 0.5em 0em;
    display: flex;
    justify-content: space-between;
}
.transfer-details-list-element:first-child {
    padding-top: 0.75em;
}
.transfer-details-list-element-team-link:hover {
    cursor: pointer;
}

.rider-flag {
    height: 1em;
    width: 1.5em;
}

.rider-name {
    flex: 1;
    margin-left: 1em;
    padding-right: 0.25em;
}

.rider-transfer-team {
    flex: 0.25;
}
